{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
{% endblock %}


{% block content %}
<div class="container auth-container register-container">
    <div class="auth-header">
        <h2>ChillSpot Registration</h2>
        <p>Register to share fun events with your friends. It's free and takes less than a minute.</p>
    </div>
    <form class="register-form" action="" method="post">
        {{ form.hidden_tag() }}
        <p>Name</p>
        <div class="form-group">
            {{ form.first_name() }}
            {{ form.last_name() }}
        </div>
        <p>Email</p>
        <div class="form-group">
            {{ form.email() }}
        </div>
        <p>Password</p>
        <div class="form-group">
            {{ form.password() }}
            {{ form.confirm_password() }}
        </div>
        <button class="primary-button" type="submit">Register</button>
    </form>
    <div class="auth-footer">
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Sign in</a></p>
    </div>
</div>
{% endblock %}