{% extends "layout.html" %} {% block title %} Events in Uganda {% endblock %}

{% block meta %}
{# og tags #}
<meta property="og:type" content="website" />
<meta property="og:title" content="ChillSpot" />
<meta property="og:description" content="Discover new and exciting social gatherings happening all over Uganda" />
<meta property="og:image" content="{{ url_for('static', filename='images/happy_people.png') }}" />

{# twitter tags #}
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="ChillSpot" />
<meta name="twitter:description" content="Discover new and exciting social gatherings happening all over Uganda" />
<meta name="twitter:image" content="{{ url_for('static', filename='images/happy_people.png') }}" />
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/events.css') }}?{{ cache_id }}" />
{% endblock %}

{% block content %}
<div class="container events-container">
    <div class="events-header">
        <!-- <p>know the spot</p> -->
        <h2>Join & share the fun in Uganda! <span class="emoji">🎉</span></h2>
        <!-- <p>share your favorite hangouts</p> -->
    </div>
    <div class="main-event">
        <div class="main-event-img" {% if main_event.event_image_url %}
            style="background-image: url('{{ main_event.event_image_url }}')" {% else %}
            style="background-image: url('{{ url_for('static', filename='images/no_pic.png') }}');" {% endif %}></div>
        <div class="main-event-footer">
            <div class="main-event-info">
                <h3>{{ main_event.title }}</h3>
                <p>{{ main_event.description }}</p>
            </div>
            <button class="no-border-button">
                Learn More <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="featured-events">
        <div class="featured-events-header">
            <h2>Trending plots in Uganda</h2>
            <p>Discover exciting events happening around you in Uganda</p>
        </div>
        <div class="events-list">
            {% for event in featured_events %}
            {% include "event_card.html" %}
            {% endfor %}
        </div>
        <div class="view-all-events">
            <button class="primary-button view-all-events-button">
                View All Events in Uganda
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
{% endblock %}