header {
	border-bottom: 1px solid #e0e0e0;
	position: sticky;
	top: 0;
	z-index: 10000;
	background-color: var(--secondary-color);
}

.header-content {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0.5rem 2rem;
}

.header-left {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.header-right a {
	font-weight: 500;
	display: inline-block;
	padding: 0rem 0.8rem;
}

.header-logo {
	background-image: url("../images/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 8rem;
	height: 4.5rem;
}

.header-base-logo {
	background-image: url("../images/dark_base_logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 2.5rem;
	height: 2.5rem;
}

.header-right .primary-button {
	margin-left: 1rem;
}

.header-right {
	display: flex;
	align-items: center;
}

.header-right .divider {
	height: 100%;
	width: 2px;
	height: 2rem;
	background-color: var(--primary-color);
	display: inline-block;
	align-self: center;
	margin: 0 1rem;
}

.header-right button {
	margin-left: 1rem;
}
