:root {
	/* Colors */
	--primary-color: #000;
	--secondary-color: #fff;

	--success-color: #00c853;
	--error-color: #ff4444;
	--info-color: #33b5e5;

	/* Fonts */
	--font-family: "Roboto", sans-serif;
	--font-size: 16px;
}

* {
	box-sizing: border-box;
	font-family: var(--font-family);
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
}

body::-webkit-scrollbar {
	display: none;
}

body a {
	font-size: var(--font-size);
	color: var(--primary-color);
	text-decoration: none;
}

body ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

button {
	font-family: var(--secondary-font-family);
	font-size: var(--font-size);
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

button i {
	font-size: 1rem;
	margin-left: 0.5rem;
}

button:hover {
	opacity: 0.8;
}

input {
	width: 100%;
	padding: 0.7rem 1.2rem;
	font-size: 1rem;
}

input:focus {
	outline: none;
}

textarea {
	width: 100%;
	padding: 0.7rem 1.2rem;
	font-size: 1rem;
}

textarea:focus {
	outline: none;
}

select {
	width: 100%;
	padding: 0.7rem 1.2rem;
	font-size: 1rem;
}

select:focus {
	outline: none;
}

form p.error {
	margin: 0rem;
	font-size: 0.8rem;
	color: var(--error-color);
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.primary-button {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border: 1px solid var(--primary-color);
}

.secondary-button {
	background-color: var(--secondary-color);
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.no-border-button {
	border: none;
	background-color: transparent;
	color: var(--primary-color);
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 1rem;
}

.main-content {
	position: relative;
}

.error-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
}

.error-container h1 {
	font-size: 10rem;
	margin-bottom: 0rem;
}

.error-container p {
	margin-top: 0rem;
	font-size: 1.5rem;
}
